{% extends "AdminBundle:layouts:body.html.twig" %}

{% block content %}

{% if lista_categorias %}

{% set row = 0 %}
{% for categoria in lista_categorias %}
	{% if row == 0 %}
	<div class="row">
	{% endif %}
		<div class="col-md-4">
			<a href="#" style="text-decoration:none;">
				<div class="panel">
				  <div class="panel-heading">
				    <span class="panel-title">{{ categoria.catNombre }}</span>
				    <div class="widget-menu pull-right">
				      <code class="mr10 bg-primary dark p3 ph5">10 sub categorias</code>
				    </div>
				  </div>
				  <div class="panel-body" style="padding:0;">
				  	<div>
				  		{% if categoria.catFoto %}
				  		<img src="{{ absolute_url(asset('uploads/img/'~categoria.catFoto)) }}" alt="" style="width:100%;">
				  		{% endif %}
				  	</div>
				  	<div style="padding:15px;">
				    	<p>Praesent non nibh nisi. Proin eu massa faucibus, volutpat tellus eu, dapibus velit. Sed feugiat risus at velit lobortis porta.</p>
				  	</div>
				  </div>
				</div>
			</a>
		</div>

	{% set row = row + 1 %}
	{% if row == 3 %}</div>{% set row = 0 %}{% endif %}
{% endfor %}
{% if row != 3 %}</div>{% endif %}
{% endif %}

{% endblock %}

{% block modals %}
<div class="modal fade" id="modal_nueva_categoria" tabindex="-1" role="dialog" aria-labelledby="modal_nueva_categoriaLabel">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel">Agregar nueva categoría</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-12">
						<form id="form_agregar_categoria" action="{{ url('admin_catalogo_categoria_guardar') }}" method="post" class="form-horizontal" role="form" enctype="multipart/form-data">
							<input type="hidden" name="id_update" id="id_update">
							<div class="form-group">
			                    <label for="nombre" class="col-lg-3 control-label text-right">Nombre</label>
			                    <div class="col-lg-8">
			                        <input type="text" name="nombre" id="nombre" class="form-control">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="padre" class="col-lg-3 control-label">Categoria padre</label>
			                    <div class="col-lg-8">
			                        <select class="form-control" name="padre" id="padre">
			                          	<option value="default"></option>
			                          	{% for categoria in lista_categoria_padre %}
			                         	<option value="{{ categoria.catIdPk }}">{{ categoria.catNombre }}</option>
			                         	{% endfor %}
			                        </select>
			                    </div>
			                </div>

			                <div class="form-group">
			                    <label for="imagen" class="col-lg-3 control-label text-right">Imagen</label>
			                    <div class="col-lg-8">
			                        <input type="file" name="imagen" id="imagen" class="form-control" accept="image/x-png,image/jpeg">
			                    </div>
			                </div>
			                <div class="form-group">
			                    <label for="comentario" class="col-lg-3 control-label text-right">Comentario</label>
			                    <div class="col-lg-8">
			                        <textarea class="form-control" name="comentario" id="comentario" rows="3"></textarea>
			                    </div>
			                </div>
			            </form>
					</div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
				<button type="button" id="submit_agregar_categoria" class="btn btn-primary">Guardar</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ absolute_url(asset('vendor/plugins/validate/jquery.validate.js')) }}"></script>
	<script src="{{ absolute_url(asset('assets/js/catalogo_constructor.js')) }}"></script>
{% endblock %}