<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-body">
				<div class="row">
					<div class="col-md-12">
						<img src="{{ absolute_url(asset('assets/img/logos/catalogo-logo.png')) }}" alt="">
						<div class="linea1"></div>
						<div class="linea2">Texto</div>
					</div>
				</div>
				
				{% set row = 0 %}
				{% for tabla in lista_productos %}
				{% if row == 0 %}
				<div class="row">
				{% endif %}
					<div class="col-sm-6">
						<div class="tabla_producto">
							<div class="tabla_producto_head">
								<h3 class="tph_nombre">{{ tabla.nombre }} <br> <span>{{ tabla.subtext }}</span></h3>
							</div>
							<div class="tabla_producto_body">
								<table>
									<thead>
										<tr>
											<th>Codigo</th>
											<th>Producto</th>
											<th>Cantidad</th>
											<th>Precio</th>
											<th></th>
										</tr>
									</thead>
									<tbody>
										{% for producto in tabla.productos %}
										<tr>
											<td>{{ producto.codigo }}</td>
											<td>{{ producto.producto }}</td>
											<td>{{ producto.cantidad }}</td>
											<td>${{ producto.precioReal|number_format(0, ',', '.') }}</td>
											<td class="opciones">
												<div class="btn-group">
													<button type="button" class="btn btn-default btn-sm">
													    <i class="fa fa-edit"></i>
													</button>
													<button type="button" class="btn btn-default btn-sm">
													    <i class="fa fa-trash"></i>
													</button>
												</div>
											</td>
										</tr>
										{% endfor %}
									</tbody>
								</table>
								<form action="{{ url('admin_catalogo_producto_guardar') }}" method="post" class="form_agregar_producto">
									<input type="hidden" name="tabla" value="{{ tabla.id }}">
									<table class="table_form">
										<tfoot>
												<tr>
													<td><input type="text" class="form-control" name="codigo" id="codigo" placeholder="Codigo"></td>
													<td><input type="text" class="form-control" name="producto" id="producto" placeholder="Producto"></td>
													<td><input type="text" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad"></td>
													<td><input type="number" class="form-control" name="precio" id="precio" placeholder="Precio"></td>
													<td><button type="submit" class="btn btn-primary btn_agregar_producto" style="width:100%;"><i class="fa fa-save"></i></button></td>
												</tr>
										</tfoot>
									</table>
								</form>
							</div>
							<div class="tabla_producto_footer">
								<div class="tpf_img">
									<img src="{{ absolute_url(asset('uploads/img/'~tabla.imagen)) }}" alt="">
								</div>
							</div>
						</div>
					</div>

				{% set row = row + 1 %}
				{% if row == 2 %}</div>{% set row = 0 %}{% endif %}
				{% endfor %}

				{% if row != 2 %}</div>{% endif %}

			</div>
		</div>
	</div>
</div>