<div class="row" id="print_area">
	{% for hoja in lista_hojas %}
		{% if hoja.tablas|length > 0 %}
		<div class="col-md-12">
			<div class="panel pagina">
				<div class="panel-body">
					<div class="row">
						<div class="col-md-12">
							<img src="{{ absolute_url(asset('assets/img/logos/catalogo-logo.png')) }}" alt="">
							<div class="linea1"></div>
							<div class="linea2" style="background-color:#002779;">{{ hoja.tablas.0.catalogo_nombre }}</div>
						</div>
					</div>

					{% set row = 0 %}

					{% for tabla in hoja.tablas %}

					{% if row == 0 %}
					<div class="row">
					{% endif %}
						<div class="col-xs-6">
							<div class="tabla_producto">
								<div class="tabla_producto_head">
									<h3 class="tph_nombre">{{ tabla.nombre }} <input type="text" style="width: 50px;text-align: center;color: #000;height: 30px;font-size: 30px;" data-id="{{ tabla.id }}" value="{{ hoja.numero }}" class="txt_hoja hidden-print"><br> <span>{{ tabla.subtext }}</span></h3>
									<div>
									</div>
								</div>
								<div class="tabla_producto_body">
									<table>
										<thead>
											<tr>
												<th id="th_codigo_{{ tabla.id }}" class="width-40">Código</th>
												<th id="th_producto_{{ tabla.id }}">Producto</th>
												<th id="th_cantidad_{{ tabla.id }}" class="width-30">Cant</th>
												<th id="th_precio_{{ tabla.id }}" class="width-80">Precio</th>
												<th id="th_precioventa_{{ tabla.id }}" class="width-80">Precio venta</th>
												<th class="hidden-print botones-tabla">
													<!-- <a href="#" data-id="{{ tabla.id }}" data-toggle="tooltip" data-placement="top" title="Renombrar cabecera" class="btn_editar_cabecera"><i class="fa fa-pencil"></i></a> -->
													<a href="#" data-id="{{ tabla.id }}" data-nombre="{{ tabla.nombre }}" data-subtext="{{ tabla.subtext }}" data-toggle="tooltip" data-placement="top" title="Editar información" class="btn_editar_tabla"><i class="fa fa-edit"></i></a>
													<a href="{{ url('admin_catalogo_tabla_eliminar', {'id': tabla.id}) }}" data-toggle="tooltip" data-placement="top" title="Eliminar tabla" class="btn_eliminar_tabla"><i class="fa fa-trash"></i></a>
												</th>
											</tr>
										</thead>
										<tbody>
											{% for producto in tabla.productos %}
											<tr id="{{ producto.slug }}" class="{{ producto.activo == 0 ? 'hidden-print producto-deshabilitado' }}">
												<td id="td_codigo_{{ producto.id }}">{{ producto.codigo }}</td>
												<td id="td_producto_{{ producto.id }}">{{ producto.producto }}</td>
												<td id="td_cantidad_{{ producto.id }}" style="text-align: center;">{{ producto.cantidad }}</td>
												<td id="td_precioreal_{{ producto.id }}" style="text-align: right;">${{ producto.precioReal|number_format(0, ',', '.') }}</td>
												<td id="td_precioventa_{{ producto.id }}" style="text-align: right;">${{ producto.precioVenta|number_format(0, ',', '.') }}</td>
												<td class="opciones hidden-print">
													<div class="btn-group">
														<button type="button" class="btn btn-default btn-sm btn_editar_producto" data-id="{{ producto.id }}" data-estado="td">
														    <i class="fa fa-edit" data-toggle="tooltip" data-placement="top" title="Editar"></i>
														</button>
														<a href="{{ url('admin_catalogo_producto_eliminar', {'id': producto.id, 'activo':producto.activo}) }}" type="button" class="btn btn-default btn-sm btn_eliminar_producto">
														    {% if producto.activo == 1 %}
														    <i class="fa fa-eye-slash" data-toggle="tooltip" data-placement="top" title="Ocultar"></i>
														    {% else %}
														    <i class="fa fa-eye" data-toggle="tooltip" data-placement="top" title="Mostrar"></i>
														    {% endif %}
														</a>
													</div>
												</td>
											</tr>
											{% endfor %}
										</tbody>
									</table>
									<form action="{{ url('admin_catalogo_producto_guardar') }}" method="post" class="form_agregar_producto hidden-print">
										<input type="hidden" name="tabla" value="{{ tabla.id }}">
										<table class="table_form">
											<tfoot>
												<tr>
													<td width="80px"><input type="text" class="form-control" name="codigo" id="codigo" placeholder="Codigo"></td>
													<td><input type="text" class="form-control" name="producto" id="producto" placeholder="Producto"></td>
													<td width="80px"><input type="text" class="form-control" name="cantidad" id="cantidad" placeholder="Cantidad"></td>
													<td width="100px"><input type="number" class="form-control" name="precio" id="precio" placeholder="Precio"></td>
													<td width="100px"><input type="number" class="form-control" name="precioventa" id="precioventa" placeholder="Precio venta"></td>
													<td style="width: 65px;padding:0;"><button type="submit" class="btn btn-primary btn_agregar_producto" style="width:100%;"><i class="fa fa-save"></i></button></td>
												</tr>
											</tfoot>
										</table>
									</form>
								</div>
								{% if tabla.imagen %}
								<div class="tabla_producto_footer">
									<div class="tpf_img">
										<img src="{{ absolute_url(asset('uploads/img/'~tabla.imagen)) }}" alt="">
									</div>
								</div>
								{% endif %}
							</div>
						</div>

					{% set row = row + 1 %}
					{% if row == 2 %}</div>{% set row = 0 %}{% endif %}
					{% endfor %}





					{% if row == 1 %}</div>{% endif %}

				</div>
				<div class="panel-footer">
					<div>
						<img src="{{ absolute_url(asset('assets/img/footer-el-constructor.jpg')) }}" style="width: 100%" alt="">
					</div>
				</div>
			</div>
		</div>
		{% endif %}
	{% endfor %}
</div>