{% trans_default_domain 'FOSUserBundle' %}
<form class="form-4" action="{{ path("fos_user_security_check") }}" method="post" id="form_login">
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
    {% endif %}
    <div class="img-svg"><img src="{{ absolute_url(asset('assets/img/logo-simple.svg')) }}" alt=""></div>
    <h1>Catalogo</h1>
    {% if error %}
        <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <p>
        <label for="login">Nombre de usuario</label>
        <input type="text" name="_username" placeholder="Nombre de usuario" value="{{ last_username }}">
    </p>
    <p>
        <label for="password">Contraseña</label>
        <input type="password" name='_password' placeholder="Contraseña" required> 
    </p>

    <p>
        <input type="submit" name="_submit" value="Entrar" id="btn_login">
    </p>
</form>